{{#if this.currentUser}}
  <div class="user-field-prompt">
    <div class="fields-container">
      {{#each this.fields as |field|}}
        {{user-field field=field.userField value=field.value}}
      {{/each}}
    </div>

    <div class="actions">
      {{d-button
        class="btn-primary save-changes"
        action=(action "submitUserFields")
        label="save"
        isLoading=this.isSaving
      }}
    </div>
  </div>
{{/if}}